*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html{
    font-family: 'Open Sans', sans-serif;
}

.flex {
    display: flex;
}

.flex-centered {
    display: flex;
    justify-content: center;
    align-items: center;
}

.button-style {
    padding: 0.6rem;
    border: none;
    font-size: 0.8rem;
    background-color: #3157e6;
    color: white;
}

.container-large {
    width: 70%;
    flex-wrap: wrap;
    margin-top: 2rem;
    max-width: 1050px;
    min-width: 630px;
}

.container-small {
    width: 60%;
    flex-wrap: wrap;
    margin-top: 2rem;
    max-width: 900px;
    min-width: 540px;
}


/* HEADER */
header{
    height: 70px;
    width: 100vw;
    background-color: white;
    justify-content: space-between;
    align-items: center;
    position: fixed;
}


section#left-header,
section#right-header{
    margin: 0 1.5rem;
}

header ul{
    list-style-type: none;
}

header li{
    margin: 0 1rem;
    font-size: 0.9;
}

header button.login {
    margin: 0 1rem;
    background-color: white;
    color: black;
}




/* MAIN */
main {
    padding-top: 70px;
}


/* free-try */
section#free-try {
    background-color: #b5cfe6;
}

section#free-try div.container {
    width: 70%;
    flex-wrap: wrap;
    margin-top: 2rem;
    max-width: 1050px;
    min-width: 610px;
}

section#free-try div.second-row{
    position: relative;
    width: 100%;
}

section#free-try h1.title{
    width: 100%;
    font-size: 4rem;
    font-weight: 800;
    margin-bottom: 1rem;
}

section#free-try div.text{
    width: 37%;
}

section#free-try div.text button{
    margin: 1rem 0;
}

section#free-try div.text i{
    margin-top: 2rem;
    margin-bottom: 1rem;
    font-size: 2.5rem;
}

section#free-try img.image{
    position: absolute;
    width: 63%;
    left: 37%;
    top: 0;
}


/* business-plan */
section#business-plan {

}

section#business-plan div.container {
    margin-top: 150px;
    width: 70%;
}

section#business-plan div.title{
    height: 100px;
    width: 100%;
    background-color: aqua;
}

section#business-plan div.period-selector{
    height: 80px;
    width: 100%;
    background-color: orange;
}

section#business-plan div.cards{
    flex-wrap: wrap;
    width: 100%;
    margin-top: 1rem;
}

section#business-plan div.vertical-card{
    height: 400px;
    width: calc((100% - 4rem) / 3);
    background-color: yellowgreen;
}

section#business-plan div.vertical-card:nth-child(2){
    margin: 0 2rem;
}

section#business-plan div.orizontal-card{
    height: 200px;
    width: 100%;
    margin-top: 2rem;
    background-color: yellowgreen;
}


/* service */
section#service {
    background-color: lightgray;
}

section#service div.container {
    margin-top: 2rem;
    width: 70%;
}

section#service div.image {
    width: 60%;
    height: 300px;
    background-color: violet;
}

section#service div.text {
    width: 40%;
    height: 300px;
    background-color: coral;
}


/*  feature */
section#feature{

}

section#feature div.container{
    margin-top: 2rem;
    width: 70%;
}

section#feature div.title{
    height: 100px;
    width: 100%;
    background-color: aqua;
}

section#feature div.cards{
    justify-content: space-between;
    flex-wrap: wrap;
}

section#feature div.card{
    height: 450px;
    width: 300px;
    background-color: yellowgreen;
    margin-top: 1rem;
}



/*  team-using */
section#team-using {

}

section#team-using div.container{
    margin-top: 2rem;
    width: 70%;
}

section#team-using div.title{
    height: 100px;
    width: 100%;
    background-color: aqua;
}

section#team-using div.link{
    height: 50px;
    width: 100%;
    background-color: indigo;
}


/*  partner */
section#partner {
    margin-top: 2rem;
}

section#partner div.principale-sq {
    width: calc(100vw / 3);
    height: calc(100vw / 3);
}

section#partner div.left-sq{
    background-color: red;
    
}

section#partner div.central-sq{
    background-color: blue;
    
}

section#partner div.right-sq{
    background-color: orange;
}



/*  start-free-try */
section#start-free-try {

}

section#start-free-try div.container {
    margin-top: 2rem;
    width: 70%;
    justify-content: space-between;
}

section#start-free-try div.title {
    height: 100px;
    width: 60%;
    background-color: aqua;
}

section#start-free-try button {
    
}



/* faq */
section#faq {

}

section#faq div.container {
    margin-top: 2rem;
    width: 70%;
}

section#faq div.title {
    height: 100px;
    width: 100%;
    background-color: aqua;
}

section#faq div.question {
    height: 100px;
    width: 100%;
    background-color: azure;
}


/*  FOOTER */
footer {
    background-color: black;
}

footer div.container {
    margin-top: 2rem;
    width: 80%;
}


/* nav */
footer nav {
}

footer nav div.category {
    background-color: red;
    height: 200px;
    width: calc(100% / 5);
    border: 1px solid blue;
}


/* lenguages */
section#lenguages {
    margin-top: 2rem;
    height: 100px;
    width: calc(100% / 5);
    background-color: blue;
}