*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html{
    font-family: 'Open Sans', sans-serif;
    font-size: 0.9rem;
}

.flex {
    display: flex;
}

.flex-centered {
    display: flex;
    justify-content: center;
    align-items: center;
}

.button-style {
    padding: 0.7rem;
    border: none;
    background-color: #3157e6;
    color: white;
}

.container-large,
.container-small{
    margin-top: 150px;
    min-width: 670px;
}

.container-large {
    width: 70%;
    max-width: 1050px;
}

.container-small {
    width: 60%;
    max-width: 900px;
}



/* HEADER */
header{
    height: 70px;
    width: 100vw;
    background-color: white;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    z-index: 2;
}


section#left-header,
section#right-header{
    margin: 0 1.5rem;
}

header ul{
    list-style-type: none;
}

header li{
    margin: 0 1rem;
}

header button.login {
    margin: 0 1rem;
    background-color: white;
    color: black;
}




/* MAIN */
main {
    padding-top: 70px;
}

h2.title {
    font-size: 2.4rem;
    font-weight: 700;
}


/* free-try */
section#free-try {
    background-color: #b5cfe6;
}

section#free-try div.container-large {
    flex-wrap: wrap;
}

section#free-try div.second-row{
    position: relative;
    width: 100%;
}

section#free-try h1.title{
    width: 100%;
    font-size: 4rem;
    font-weight: 800;
    margin-bottom: 1rem;
}

section#free-try div.text{
    width: 35%;
}

section#free-try div.text button{
    margin: 1rem 0;
}

section#free-try div.text i{
    margin-top: 3.5rem;
    margin-bottom: 2rem;
    font-size: 2.5rem;
}

section#free-try img.image{
    position: absolute;
    width: 65%;
    left: 37%;
    top: 0;
}


/* business-plan */
section#business-plan {

}

section#business-plan h2.title{
    width: 100%;
}

section#business-plan div.period-selector{
    margin-top: 40px;
}

section#business-plan div.period-selector input#annual {
    margin-left: 40px;
}

section#business-plan div.cards{
    flex-wrap: wrap;
    width: 100%;
    margin-top: 30px;
}

/*  vertical-card */

section#business-plan div.vertical-card{
    height: 900px;
    width: calc((100% - 4rem) / 3);
    flex-direction: column;
    align-items: center;
    border: 2px solid lightgray;
}

section#business-plan div.vertical-card:nth-child(2){
    margin: 0 2rem;
}

div.card-title {
    padding: 0.5rem 0;
    width: 100%;
    border-bottom: 2px solid lightgray;
}

div.card-title i{
    margin-right: 0.5rem;
}

div.vertical-card div.card-container {
    width: 85%;
}

div.cards h3 {
    margin-top: 30px;
    font-size: 1.4rem;
    font-weight: 800;
}

div.cards span.price {
    display: block;
    margin-top: 15px;
    font-weight: 700;
}

div.cards span.period {
    display: block;
    margin-top: 10px;
    margin-bottom: 30px;
    color: gray;
}

div.vertical-card div.card-container div {
    margin-top: 10px;
}

div.vertical-card div.card-container i {
    margin-right: 0.5rem;
    margin-top: 0.3rem;

}

div.vertical-card div.card-container button {
    width: 100%;
    margin-top: 40px;
}

div.vertical-card div.card-container div.buy-now {
    margin-top: 25px;
}

div.vertical-card div.card-container div.separator {
    margin-top: 20px;
    width: 20%;
    height: 2px;
    background-color: lightgray;
}

div.vertical-card div.card-container h4 {
    margin-top: 25px;
    margin-bottom: 20px;
    font-size: 0.9rem;
    font-weight: 700;
}

div.vertical-card div.card-container i.color-blue {
    color: #3157e6;
}


/*  horizontal-card */

section#business-plan div.horizontal-card{
    width: 100%;
    margin-top: 2rem;
    flex-direction: column;
    padding-bottom: 2rem;
    border: 2px solid lightgray;
}

div.horizontal-card div.card-container{
    justify-content: space-between;
    width: 95%;
}

div.horizontal-card div.card-info,
div.horizontal-card div>button{
    margin-top: 30px;
}

div.horizontal-card div.card-text{
    width: calc(100% - 190px);
}





/* service */
section#service {
}

section#service div.image {
    width: 60%;
    height: 300px;
    background-color: violet;
}

section#service div.text {
    width: 40%;
    height: 300px;
    background-color: coral;
}


/*  feature */
section#feature{

}

section#feature h2.title{
    height: 100px;
    width: 100%;
    background-color: aqua;
}

section#feature div.cards{
    justify-content: space-between;
    flex-wrap: wrap;
}

section#feature div.card{
    height: 450px;
    width: 300px;
    background-color: yellowgreen;
    margin-top: 1rem;
}



/*  team-using */
section#team-using {

}

section#team-using h2.title{
    height: 100px;
    width: 100%;
    background-color: aqua;
}

section#team-using div.link{
    height: 50px;
    width: 100%;
    background-color: indigo;
}


/*  partner */
section#partner {
    margin-top: 2rem;
}

section#partner div.principale-sq {
    width: calc(100vw / 3);
    height: calc(100vw / 3);
}

section#partner div.left-sq{
    background-color: red;
    
}

section#partner div.central-sq{
    background-color: blue;
    
}

section#partner div.right-sq{
    background-color: orange;
}



/*  start-free-try */
section#start-free-try {

}

section#start-free-try div.container-small {
    justify-content: space-between;
}

section#start-free-try h2.title {
    height: 100px;
    width: 60%;
    background-color: aqua;
}

section#start-free-try button {
    
}



/* faq */
section#faq {

}
section#faq h2.title {
    height: 100px;
    width: 100%;
    background-color: aqua;
}

section#faq div.question {
    height: 100px;
    width: 100%;
    background-color: azure;
}


/*  FOOTER */
footer {
    background-color: black;
}


/* nav */
footer nav {
}

footer nav div.category {
    background-color: red;
    height: 200px;
    width: calc(100% / 5);
    border: 1px solid blue;
}


/* lenguages */
section#lenguages {
    margin-top: 2rem;
    height: 100px;
    width: calc(100% / 5);
    background-color: blue;
}