*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html{
    font-family: 'Open Sans', sans-serif;
}

.flex {
    display: flex;
}

.flex-centered {
    display: flex;
    justify-content: center;
    align-items: center;
}

/* HEADER */
header{
    height: 100px;
    width: 100%;
    background-color: blueviolet;
    justify-content: space-between;
    align-items: center;
}

header div, 
header nav, 
header button {
    margin: 0 1rem;
    border: 2px dotted black;
}

/* MAIN */


/* free-try */
section.free-try {
    background-color: lightgray;
}

section.free-try div.container {
    width: 80%;
    flex-wrap: wrap;
    background-color: lightgray;
    margin-top: 2rem;
}

section.free-try div.title{
    height: 100px;
    width: 100%;
    background-color: aqua;
}

section.free-try div.text{
    height: 250px;
    width: 40%;
    background-color: coral;
}

section.free-try div.image{
    height: 300px;
    width: 60%;
    background-color: violet;
}


/* business-plan */
section.business-plan {

}

section.business-plan div.container {
    margin-top: 2rem;
    width: 70%;
}

section.business-plan div.title{
    height: 100px;
    width: 100%;
    background-color: aqua;
}

section.business-plan div.period-selector{
    height: 80px;
    width: 100%;
    background-color: orange;
}

section.business-plan div.cards{
    flex-wrap: wrap;
    width: 100%;
    margin-top: 1rem;
}

section.business-plan div.vertical-card{
    height: 400px;
    width: calc((100% - 4rem) / 3);
    background-color: yellowgreen;
}

section.business-plan div.vertical-card:nth-child(2){
    margin: 0 2rem;
}

section.business-plan div.orizontal-card{
    height: 200px;
    width: 100%;
    margin-top: 2rem;
    background-color: yellowgreen;
}


/* service */
section.service {
    background-color: lightgray;
}

section.service div.container {
    margin-top: 2rem;
    width: 70%;
}

section.service div.image {
    width: 60%;
    height: 300px;
    background-color: violet;
}

section.service div.text {
    width: 40%;
    height: 300px;
    background-color: coral;
}


/*  feature */
section.feature{

}

section.feature div.container{
    margin-top: 2rem;
    width: 70%;
}

section.feature div.title{
    height: 100px;
    width: 100%;
    background-color: aqua;
}

section.feature div.cards{
    justify-content: space-between;
    flex-wrap: wrap;
}

section.feature div.card{
    height: 450px;
    width: 300px;
    background-color: yellowgreen;
    margin-top: 1rem;
}



/*  team-using */
section.team-using {

}

section.team-using div.container{
    margin-top: 2rem;
    width: 70%;
}

section.team-using div.title{
    height: 100px;
    width: 100%;
    background-color: aqua;
}

section.team-using div.link{
    height: 50px;
    width: 100%;
    background-color: indigo;
}


/*  partner */
section.partner {
    margin-top: 2rem;
}

section.partner div.principale-sq {
    width: calc(100vw / 3);
    height: calc(100vw / 3);
}

section.partner div.left-sq{
    background-color: red;
    
}

section.partner div.central-sq{
    background-color: blue;
    
}

section.partner div.right-sq{
    background-color: orange;
}



/*  start-free-try */
section.start-free-try {

}

section.start-free-try div.container {
    margin-top: 2rem;
    width: 70%;
    justify-content: space-between;
}

section.start-free-try div.title {
    height: 100px;
    width: 60%;
    background-color: aqua;
}

section.start-free-try button {
    
}



/* faq */
section.faq {

}

section.faq div.container {
    margin-top: 2rem;
    width: 70%;
}

section.faq div.title {
    height: 100px;
    width: 100%;
    background-color: aqua;
}

section.faq div.question {
    height: 100px;
    width: 100%;
    background-color: azure;
}


/*  FOOTER */
footer {
    background-color: black;
}

footer div.container {
    margin-top: 2rem;
    width: 80%;
}


/* nav */
footer nav {
}

footer nav div.category {
    background-color: red;
    height: 200px;
    width: calc(100% / 5);
    border: 1px solid blue;
}


/* lenguages */
section.lenguages {
    margin-top: 2rem;
    height: 100px;
    width: calc(100% / 5);
    background-color: blue;
}